@font-face {
  font-family: "iconfont-my"; /* Project id 4744984 */
  src: url('iconfont.woff2?t=1731772807452') format('woff2'),
       url('iconfont.woff?t=1731772807452') format('woff'),
       url('iconfont.ttf?t=1731772807452') format('truetype');
}

.iconfont-my {
  font-family: "iconfont-my" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-my-close:before {
  content: "\e646";
}

.icon-my-arrow:before {
  content: "\e67e";
}

.icon-my-edit:before {
  content: "\e67d";
}

.icon-my-drag:before {
  content: "\ea48";
}

.icon-my-reset:before {
  content: "\e650";
}

.icon-my-file:before {
  content: "\e7bb";
}

.icon-my-delete:before {
  content: "\e637";
}

.icon-my-social:before {
  content: "\e692";
}

.icon-my-user:before {
  content: "\e645";
}

.icon-my-image:before {
  content: "\e622";
}

.icon-my-ellipsis:before {
  content: "\e64f";
}

.icon-my-plus:before {
  content: "\e8fe";
}

.icon-my-logout:before {
  content: "\e78c";
}

.icon-my-ask:before {
  content: "\e620";
}

.icon-my-docs:before {
  content: "\e700";
}

.icon-my-account:before {
  content: "\e603";
}

.icon-my-bill:before {
  content: "\e614";
}

.icon-my-feedback:before {
  content: "\e626";
}

.icon-my-cookies:before {
  content: "\e600";
}

.icon-my-shop:before {
  content: "\e676";
}

.icon-my-link:before {
  content: "\e7e2";
}

.icon-my-shape:before {
  content: "\e6dd";
}

.icon-my-analytics:before {
  content: "\ea06";
}

.icon-my-settings:before {
  content: "\e615";
}

